
.appContainer {
  font-family: Arial, sans-serif; 
  line-height: 1.6; 
  color: #333; 
  background-color: #f4f4f4; 
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
}


.mainContent {
  flex: 1; 
  padding: 20px; 
}


.loading {
  text-align: center; 
  margin-top: 50px; 
  font-size: 1.5rem; 
  color: #007bff; 
}
